<template>
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img alt="i24h" class="logo" src="/images/logo_i24h.png" data-holder-rendered="true" >
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">
                                    {{currentUser.firstname}} {{currentUser.lastname}}
                                </strong>
                            </span>
                            <!--<span class="text-muted text-xs block">Profile Detail <b class="caret"></b></span>-->
                        </span>
                        </a>
                        <!--<ul class="dropdown-menu animated fadeInRight m-t-xs">-->
                            <!--<li><a href="/logout">Logout</a></li>-->
                        <!--</ul>-->
                    </div>
                    <div class="logo-element">
                        <img alt="i24h" class="logo" src="/images/logo_i24h.png" data-holder-rendered="true" >
                    </div>
                </li>
                <li>
                    <a href="/asim/a/home">
                        <i class="fa fa-dashboard"></i><span>Dashboard</span>
                    </a>
                </li>
                <router-link tag="li" :to="{name: 'admin.users', params: {}}" >
                    <a>
                        <i class="fa fa-users"></i> <span>Quản lý người dùng</span>
                    </a>
                </router-link>
                <router-link tag="li" :to="{name: 'admin.categories', params: {}}" >
                    <a>
                        <i class="fa fa-cubes"></i> <span>Quản lý Danh mục</span>
                    </a>
                </router-link>
                <router-link tag="li" :to="{name: 'admin.links', params: {}}" >
                    <a>
                        <i class="fa fa-link"></i> <span>Quản lý liên kết</span>
                    </a>
                </router-link>
                <router-link tag="li" :to="{name: 'admin.externalSites', params: {}}" >
                    <a>
                        <i class="fa fa-cog" aria-hidden="true"></i> <span>Cấu hình website lấy tin</span>
                    </a>
                </router-link>
                <router-link tag="li" :to="{name: 'admin.pages', params: {}}" >
                    <a>
                        <i class="fa fa-globe"></i> <span>Quản lý trang tĩnh</span>
                    </a>
                </router-link>
                <router-link tag="li" :to="{name: 'admin.settings', params: {}}" >
                    <a>
                        <i class="fa fa-cog" aria-hidden="true"></i> <span>Cấu hình website</span>
                    </a>
                </router-link>
            </ul>

        </div>
    </nav>
</template>


<script>
    export default {
        props: [

        ],
        data(){
            return {
                currentUser: loggedUser
            }
        },
        methods: {

        },
        mounted() {

        },
        created() {
        }
    }
</script>