<template>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>{{ header.title  | capitalize }}</h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>
                    <a href="/home"> Dashboard </a>
                </li>
                <li v-for="(value, key) in header.breadcrumb">
                    <a href="#" v-if="key == (header.breadcrumb.length - 1)" class="active">{{ value | capitalize }}</a>
                    <a href="#" v-else>{{ value | capitalize}}</a>
                </li>
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <button class="btn btn-primary dim" onclick="add()">
                    <i class="fa fa-plus-circle"></i> Thêm mới
                </button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  props: ['header'],
  data() {
    return {

    }
  },
  methods: {
    customScript() {
        let scriptStr = `
        function add() {
            $('.add-button').click();
        }
        `;
        $('head').append('<script>' + scriptStr + '<\/script>');
    },
  },
  mounted() {
    this.customScript();
  },
  created() {
  },
  updated() {
    $(document).trigger('icheck');
  }
}
</script>
