<template>
    <div>
        <button class="add-button" style="display: none" @click="changeStatusModal(1)">Add</button>
        <button class="update-button" style="display: none" idUpdate="1" @click="changeStatusModal(2)">Update</button>
        <button class="delete-button" style="display: none" idDelete="1" @click="onDelete">Delete</button>
        
        <table class="table table-bordered table-hover dataTable">
        </table>
        <modal :large="largeForm" ref="" :show.sync="showCustomModal" effect="fade" width="400" :backdrop="false">
            <div slot="modal-header" class="modal-header">
                    <h4 class="modal-title">
                        <b>{{ actionName }} {{ title }}</b>
                    </h4>
            </div>
            <div slot="modal-body" class="modal-body no-padding">
                <dyncontrol :cols="cols" :col="col" :controldata="controlData" :link="link" :recorddata.sync="recordData"></dyncontrol>
            </div>
            <div slot="modal-footer" class="modal-footer no-border"></div>
        </modal>
    </div>
</template>
<script>
import dyncontrol from './DynamicControl';

export default {
    props: ['link', 'title', 'controlData', 'showID', 'largeForm', 'col'],
    components: {
        dyncontrol
    },
    data() {
        return {
            items: [],
            form: new Form_(),
            showCustomModal: false,
            actionName: 'Add new',
            recordData: {},
            dt: '',
            cols: 'form-group',
            modalEvent: []
        }
    },
    watch: {
        items(val, oldVal) {
            this.loadTable(val);
        }
    },
    mounted() {
        this.listData();
        this.customScript();
    },

    methods: {
        listData() {
            var self = this;
            this.form.get(this.link).then(response => {
                this.items = response;
            });
        },

        loadRecord(id) {
            var vm = this;
            this.form.get(this.link + '/' + id).then(response => {
                vm.recordData = {};
                $.each(response, function(key, value) {
                    if(value){
                        Vue.set((Object)(vm.recordData), key, value)
                    }
                });
                vm.recordData._method = 'update';
            });
        },

        onDelete() {
            let id = $('.delete-button').attr('idDelete');
            this.recordData._method = 'delete';
            this.form = new Form_(this.recordData);
            this.form.put(this.link + '/' + id).then(response => {
                this.pushRecord('', id);
            });
        },

        changeStatusModal(val) {
            for (let i in this.modalEvent) {
                this.modalEvent[i](val);
            }
            if (val == 0) {
                this.resetRecordData();
                this.showCustomModal = false;
            } else {
                //1: Add
                //2: Update
                this.actionName = (val == 1) ? 'Add new' : 'Update'
                this.showCustomModal = true;
                if (val == 2) {
                    let id = $('.update-button').attr('idUpdate');
                    this.loadRecord(id);
                }
            }
        },

        resetRecordData() {
            for (let i in this.recordData) {
                if (Array.isArray(this.recordData[i])) {
                    this.recordData[i] = [];
                    continue;
                } else if (typeof this.recordData[i] == "string") {
                    this.recordData[i] = '';
                    continue;
                } else if (this.recordData[i] == null) {
                    this.recordData[i] = null;
                    continue;
                } else if (typeof this.recordData[i] == "object") {
                    this.recordData[i] = {};
                    continue;
                }else if (typeof this.recordData[i] == "number") {
                    this.recordData[i] = '';
                    continue;
                }
            }
        },

        handleHeader(val) {
            let cols = [];

            val.header.forEach(function (value) {
                let row = { title: value };
                cols.push(row);
            });

            cols.push({ title: 'Action' });
            return cols;
        },

        handleBody(val) {
            for (let i in val.data) {
                val.data[i].push('<a href="javascript:;" onclick="edit(\'' + val.data[i][0] + '\')"><i class="fa fa-pencil" aria-hidden="true"></i></a> | <a href="javascript:;" onclick="destroy(\'' + val.data[i][0] + '\')"><i class="fa fa-times" aria-hidden="true"></i></a>');
            }
            return val;
        },

        handleDataType(row) {
            for (let k in row) {
                let colorCode = /^(#){1}\w{3,6}$/;
            }
        },

        loadTable(val) {
            let headers = this.handleHeader(val);
            let body = this.handleBody(val);
            let self = this;
            this.dt = $('.dataTable').DataTable({
                destroy: true,
                autoWidth: false,
                data: val.data,
                columns: headers,
                responsive: true,
                pageLength: 100,
                order: [[ 0, "desc" ]],
                initComplete: function(settings, json) {
                    //$('#DataTables_Table_0_filter input').attr('placeholder', 'Type something...');
                    //$('<span style="margin-right: -10px; position: relative; z-index: 100" class="fa fa-search"></span>').prependTo('.dataTables_wrapper .row:first-child');
                    $('.dataTable').removeAttr('style');
                    // $('.dt-buttons button').insertAfter($('.dataTables_length'));
                    // $('.dataTables_length').insertAfter($('.dataTables_info'));
                    // $('.dataTables_info').remove();
                }
            });
            if (!this.showID) {
                this.dt.column(0).visible(false);
            }
        },

        customScript() {
            let scriptStr = `
            function edit(id) {
                $('.update-button').attr('idUpdate', id);
                $('.update-button').click();
            }

            function destroy(id) {
                let comfirmBox = confirm("Are you sure to delete this item?");
                if (! comfirmBox) return;
                $('.delete-button').attr('idDelete', id);
                $('.delete-button').click();
            }
            `;
            $('head').append('<script>' + scriptStr + '<\/script>');
        },

        pushRecord(data, id) {
            let newData = [];
            if (id) {
                newData = (data) ? this.refreshAfterUpdate(data, id) : this.refreshAfterDelete(id);
            } else {
                newData = this.refreshAfterInsert(data);
            }
            this.dt.clear();
            this.dt.rows.add(newData.data);
            this.dt.draw();
        },

        refreshAfterDelete(id) {

            let itemData = this.items.data;
            for (let i in itemData) {
                if (itemData[i][0] == id) {
                    this.items.data.splice(i, 1);
                }
            }
            let newData = this.items;
            return newData;
        },

        refreshAfterInsert(record) {
            let temp = {
                data: []
            };
            temp.data.push(record);
            record = this.handleBody(temp);
            this.items.data.unshift(record.data[0]);
            return this.items;
        },

        refreshAfterUpdate(data, id) {
            let itemData = this.items.data;
            for (let i in itemData) {
                if (itemData[i][0] == id) {
                    let action = itemData[i][itemData[i].length - 1];
                    data.push(action);
                    this.items.data[i] = data;
                }
            }
            let newData = this.items;
            return newData;
        }
    },
}
</script>
