<template>
<div>
    <div v-if="col===2">
        <form method="POST" action="" accept-charset="UTF-8" @submit.prevent="onSubmit" @keydown='errors = {}' role="form" class="no-border clearfix" enctype='multipart/form-data'>
            <div class='neighbor' v-for="(control, index) in controldata" :key="index">
                <div class="col-md-6">
                    <div class=" float-label-control" v-bind:class="{ 'has-error': typeof errors[control.name] != 'undefined' }">
                        <component :control="control" :recorddata="recorddata" :is="view[control.type]" :errors="errors"></component>
                    </div>
                </div>
            </div>
                
            <div class="col-md-12 text-center">
                <button type="button" class="btn" @click="closeModal">Cancel</button>&nbsp;
                <button type="submit" class="btn btn-primary btn-brand">Save</button>
            </div>
        </form>
    </div>
    <div v-else>
        <form method="POST" action="" accept-charset="UTF-8" @submit.prevent="onSubmit" @keydown='errors = {}' role="form" class="no-border clearfix" enctype='multipart/form-data'>
            <div class='col-md-12' v-for="(control, index) in controldata" :key="index">
                <div class='col-md-12'>
                    <div class=" float-label-control" v-bind:class="{ 'has-error': typeof errors[control.name] != 'undefined' }">
                        <component :control="control" :recorddata="recorddata" :is="view[control.type]" :errors="errors"></component>
                    </div>
                </div>
            </div>
                
            <div class="col-md-12 text-center">
                <button type="button" class="btn" @click="closeModal">Cancel</button>&nbsp;
                <button type="submit" class="btn btn-primary btn-brand">Save</button>
            </div>
        </form>
    </div>
</div>
</template>

<script>

import textfield from "./formcontrols/textfield";
import textareaField from "./formcontrols/textareaField";
import iconfield from "./formcontrols/iconfield";
import numberfield from "./formcontrols/numberfield";
import emailfield from "./formcontrols/emailfield";
import select2 from "./formcontrols/select2";
import priority from "./formcontrols/priority";
import status from './formcontrols/status';
import editor from './formcontrols/editor';
import fileUpload from "./formcontrols/FileUpload";
import password from "./formcontrols/passwordfield";
import colorfield from "./formcontrols/colorfield";
import place from "./formcontrols/Place";
import date from "./formcontrols/date";
import iconCheckboxField from "./formcontrols/iconCheckboxField";
import tablecontrol from "./formcontrols/tablecontrol";
import tabledata from "./formcontrols/tabledata";
import sortable from './formcontrols/sortable';

export default {
    props: ['controldata', 'recorddata', 'link', 'cols', 'col'],
    components: {
        textfield,
        textareaField,
        password,
        select2,
        fileUpload,
        priority,
        colorfield,
        place,
        status,
        editor,
        sortable,
        date,
        iconCheckboxField,
        numberfield,
        emailfield,
        iconfield,
        tablecontrol,
        tabledata
    },
    data() {
        return {
            view: {
                text: "textfield",
                textarea: "textareaField",
                password: "password",
                select2: "select2",
                fileUpload: "fileUpload",
                priority: "priority",
                colorfield: "colorfield",
                place: "place",
                date: "date",
                status: "status",
                editor: "editor",
                sortable: "sortable",
                iconCheckboxField: "iconCheckboxField",
                number: "numberfield",
                email: "emailfield",
                icon: "iconfield",
                tablecontrol: "tablecontrol",
                tabledata: "tabledata"
            },
            errors: {}
        }
    },

    watch: {
        recorddata: function(val, oldVal) {

        }
    },

    methods: {
        closeModal() {
            this.errors = {};
            this.$parent.$parent.changeStatusModal(0);
        },
        onSubmit() {
            let form = new Form_(this.recorddata);
            if (!this.recorddata.id) {
                form.post(this.link).then(response => {
                
                    this.$parent.$parent.pushRecord(response, null);
                    this.$parent.$parent.changeStatusModal(0);
                    this.errors = {};
                })
                    .catch(error => {
                        this.errors = form.errors.errors;
                    });
            } else {
                this.recorddata['_method'] = 'update';
                let idRecord = this.recorddata.id;
                form.put(this.link + '/' + idRecord).then(response => {
                    this.$parent.$parent.pushRecord(response, idRecord);
                    this.$parent.$parent.changeStatusModal(0);
                    this.errors = {};
                })
                    .catch(error => {
                        this.errors = form.errors.errors;
                    });
            }
        },

        postFields() {
            let postField = {};
            var vm = this;
            for (let i in this.controldata) {
                postField[this.controldata[i].name] = '';
            }
            return new Form_(postField);
        }
    },

    mounted() {
        $('.float-label-control').floatLabels();
    },
    created() {
        $('.float-label-control').floatLabels();
    },
    updated(){
        $('.float-label-control').floatLabels();
    }
}
</script>
