<template>
    <div id="app">
        <!-- <div class="container"> -->
        <!--UPLOAD-->
        <div v-if="!file">
            <h4>Upload logo<span v-show="" class="small-title">(Current: asdf{{}})</span></h4>
            <div class="dropbox">
                <input type="file" @change="filesChange" :accept="fileType" class="input-file">
                <p v-if="isInitial">
                    Drag your {{title}} here to begin<br> or click to browse
                </p>
            </div>
        </div>
        <!--SUCCESS-->
        <div class="showImage" v-else>
            <h5>Uploaded {{title}} successfully.</h5>
            <p>
                <a href="javascript:void(0)" @click="reset()">Change {{title}}</a>
            </p>
            <img :src="file" width="100%" v-if="fileType==='image/*'"/>
            <div v-else>
                {{filename}}
                <!-- <input type="file" :value="pdf"/> -->
            </div>
        </div>
        <!--FAILED-->
        <div v-if="isFailed">
            <h5>File type is invalid. Please try <a href="javascript:void(0)" @click="reset()">again.</a></h5>
        </div>
        <!-- </div> -->
    </div>
</template>
<script>
const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;
export default {
    name: 'app',
    props:['title', 'fileType', 'fileName'],
    data() {
        return {
            file: '',
            filename:'',
            currentStatus: null,
        }
    },
    computed: {
        isInitial() {
            return this.currentStatus === STATUS_INITIAL;
        },
        isSaving() {
            return this.currentStatus === STATUS_SAVING;
        },
        isSuccess() {
            return this.currentStatus === STATUS_SUCCESS;
        },
        isFailed() {
            return this.currentStatus === STATUS_FAILED;
        }
    },
    methods: {
        reset() {
            // reset form to initial state
            this.currentStatus = STATUS_INITIAL;
            this.file = '';
        },
        filesChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;

            if(files[0].type=='image/png' || files[0].type=='image/jpeg'){
                this.createImage(files[0]);
            }else{
                this.currentStatus = STATUS_FAILED;
            }
        },
        createImage(file) {
            var reader = new FileReader();
            var image = new Image();
            var vm = this;
            reader.onload = (e) => {
                vm.file = e.target.result;
                this.$parent.$parent.form.logo = vm.file;
                // console.log(this.$parent.$parent.form);
            };
            reader.readAsDataURL(file);
            this.currentStatus = STATUS_SUCCESS;
        },
        removeImage: function (e) {
            this.file = '';
        }
    },
    mounted() {
        let vm = this;
        if(vm.fileName){
            console.log(1)
            vm.currentStatus = STATUS_SUCCESS;
        }else{
            console.log(vm.fileName)
        }
        this.reset();
    },
    created() {
        let vm = this;
        // let table = this.$parent.$parent.$parent;
        // table.modalEvent.push(function (val) {
        //     if (val == 0) {
        //         vm.reset();
        //     }
        // });
    }
}
</script>
