 .login_info {
    top: -120px !important;
}
#edict_input {
    height: 30px !important;
}
#map_input {
    height: 30px !important;
}
.search_btn {
    height: 29px !important;
}
#map_button {
    background: #1b7bbd  url(../images/custom/icon-search.png) no-repeat scroll center center;
    height: 29px !important;
}
/* input[type="text"],
input[type="password"],
input[type="file"],
input[type="submit"],
input[type="button"],
input[type="reset"],
select,
textarea,
.textarea,
button {
    background-image: url(../images/forms/input_shadow.png);
    background-repeat: no-repeat;
    border: 1px solid;
    border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
    font: 1em Arial, Helvetica, Verdana, sans-serif;
    padding: 5px 1px;
} */
.group_items-header a {
    letter-spacing: -0.7px;
    margin-left: 10px;
    overflow: unset;
}
#sortable li:hover {
    background-color: rgba(6, 11, 5, 0.3);color: #fff;
}
#sortable li:hover a{color: #fff}
#sortable li .edit-item{
    clear: both;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5px;  
    top: 0px !important; 
}
#sortable li .remove-item {
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 0px;
    display: none;
}
#sortable li .remove-item1 {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 20px;
}
#sortable li .edit-item i,#sortable li .remove-item i,#sortable li .remove-item1 i{font-size: 18px}
#sortable li:HOVER .edit-item {
    display: block;
}
#sortable li:HOVER .remove-item {
    display: block;
}
.journal-content-article p{font-size: 15px;line-height: 1.5;margin-bottom: 12px}
.ui-autocomplete{
    top: 45px !important;
    left: 13% !important;
}