<template>
    <div class="input-group">
        <input :id="control.name" type="color" v-model="recorddata[control.name]" class="form-control" :name="control.name" autofocus :placeholder="control.title" :value="recorddata[control.name]">
    </div>
</template>

<script>

export default {
    props: ['recorddata', 'control'],
    data() {
        return {

        }
    },

    watch: {
    },

    mounted() {

    }
}
</script>
