<template>
<div class="input-group">
    <!-- <input id="location" type="text" class="form-control" name="location" autofocus v-model="recorddata[control.name]" placeholder="Location"> -->
    <div class="input-group date datepicker">
        <input name="dob" v-model="recorddata[control.name]" type="text" class="form-control dob-pick" placeholder="Birthday" onkeydown="return false" />
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
</div>
</template>
<script>

export default {
    props: ['recorddata', 'control'],
    data() {
        return {
            data:[],
            id: {
                type: String,
                required: true
            },
            elements: new Form_(),
            autocomplete: null,
            autocompleteText: '',
        }
    },
    methods:{
    },
    watch: {

    },
    created(){
        this.recorddata[this.control.name] = '';
        let table = this.$parent.$parent.$parent;
        table.modalEvent.push(function (val) {
            if (val ==2){
                $('.datepicker').data({date: '08-08-2012'});
                $('.datepicker').datepicker('update');
                $('.datepicker').datepicker().children('input').val('08-08-2012');
            }
        });
    },
    mounted() {
        var vm = this;
        $(".datepicker").on('changeDate', function(e) {
            vm.recorddata[vm.control.name] = e.format();
        });
    },
    updated(){
        $(document).trigger('load-datepicker');
    }
}
</script>