<template>
<div class="input-group">
    <span v-if="!errors[control.name]">{{control.title}}</span>
    <span class="text-danger" v-if="errors[control.name]" v-text="errors[control.name]"></span>
    <textarea class="summernote" v-model="recorddata[control.name]" :ref="control.name">
    </textarea>
</div>
</template>

<script>

export default {
    props: ['recorddata', 'control', 'clientData', 'errors'],
    data() {
        return {
        }
    },
    methods:{
    },
    watch: {
        recorddata(val, oldVal) {
            let vm = this;
            var ele = vm.control.name;
            $(this.$refs[ele]).summernote(
                'code', this.recorddata[this.control.name],
            );
        }
    },
    created(){
        var vm = this;
        if (! vm.recorddata[vm.control.name]) {
            vm.recorddata[vm.control.name] = '';
        };
    },
    mounted() {
        let vm = this;
        var ele = vm.control.name;
        $(document).trigger('load-editor');
        $('.dropdown-toggle').dropdown()
    },
    updated(){
        let vm = this;
        var ele = vm.control.name;
        $(document).trigger('load-editor');
        $('.dropdown-toggle').dropdown()
    }
}
</script>