<template>
    <div class="input-group">
        <label :for="control.name">
            <span>{{control.title}}</span>
        </label>
        <input :id="control.name" type="email" v-model="recorddata[control.name]" class="form-control" :name="control.name" autofocus :placeholder="'Enter ' + control.title" :value="recorddata[control.name]">
    </div>
</template>

<script>

export default {
    props: ['recorddata', 'control'],
    data() {
        return {

        }
    },

    watch: {
    },

    mounted() {

    }
}
</script>
