<template>
    <input v-if="control.isBare" type="file" @change="filesChange" :accept="control.fileType" :class="control.className">
    <div v-else id="app">
        <!-- <div class="container"> -->
        <!--UPLOAD-->
        <div v-if="!file">
            <h4 class="title-upload bold">Upload {{control.title}}
                <span v-show="recorddata[control.alias]" class="small-title">(Current: {{recorddata[control.alias]}})</span>
            </h4>
            <div class="dropbox">
                <input type="file" @change="filesChange" :accept="control.fileType" class="input-file">
                <p v-if="isInitial">
                    Drag your {{control.title}} here to begin<br> or click to browse
                </p>
            </div>
        </div>
        <!--SUCCESS-->
        <div class="showImage" v-else>
            <h5>Uploaded {{control.title}} successfully.</h5>
            <p>
                <a href="javascript:void(0)" @click="reset()">Change {{control.title}}</a>
            </p>
            <img :src="file" width="100%" v-if="control.fileType==='image/*'" />
            <div v-else>
                {{filename}}
                <!-- <input type="file" :value="pdf"/> -->
            </div>
        </div>
        <!--FAILED-->
        <div v-if="isFailed">
            <h5>File type is invalid. Please try
                <a href="javascript:void(0)" @click="reset()">again.</a>
            </h5>
        </div>
        <!-- </div> -->
    </div>
</template>
<script>
const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;
export default {
    name: 'app',
    props: ['recorddata', 'control'],
    data() {
        return {
            file: '',
            filename: '',
            currentStatus: null,
        }
    },
    computed: {
        isInitial() {
            return this.currentStatus === STATUS_INITIAL;
        },
        isSaving() {
            return this.currentStatus === STATUS_SAVING;
        },
        isSuccess() {
            return this.currentStatus === STATUS_SUCCESS;
        },
        isFailed() {
            return this.currentStatus === STATUS_FAILED;
        }
    },
    methods: {
        reset() {
            // reset form to initial state
            this.currentStatus = STATUS_INITIAL;
            this.file = '';
        },
        filesChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (files[0].size > (2 * 1000 * 1000)) {
                alert('Your upload file is larger than 2MB');
                return this.currentStatus === STATUS_FAILED;
            }

            if (!files.length)
                return;
            if (this.control.fileType == files[0].type) {
                this.createImage(files[0])
            } else {
                if (files[0].type == 'image/png' || files[0].type == 'image/jpeg') {
                    this.createImage(files[0]);
                } else {
                    this.currentStatus = STATUS_FAILED;
                }
                //this.createPDF(files[0]);
            }
        },
        createPDF(file) {
            // var reader = new FileReader();
            // var vm = this;
            // reader.onload = (e) => {
            //   console.log(e.target.result);
            //   // vm.pdf = e.target.result;
            // };
            // reader.readAsDataURL(file);
            this.pdf = file.name;
        },
        createImage(file) {
            var reader = new FileReader();
            if (file.type == 'application/pdf') {
                var vm = this;
                vm.filename = file.name;
                reader.onload = (e) => {
                    vm.file = e.target.result;
                    this.recorddata[this.control.name] = vm.file;
                };
                reader.readAsDataURL(file);
            } else {
                var image = new Image();
                var vm = this;
                reader.onload = (e) => {
                    vm.file = e.target.result;
                    this.recorddata[this.control.name] = vm.file;
                };
                reader.readAsDataURL(file);
            }
            this.currentStatus = STATUS_SUCCESS;
        },
        removeImage: function(e) {
            this.file = '';
        }
    },
    mounted() {
        this.reset();
    },
    created() {
        let vm = this;
        let table = this.$parent.$parent.$parent;
        if (table) {
            table.modalEvent.push(function (val) {
                if (val == 0) {
                    vm.reset();
                }
            });
        }
    }
}
</script>
