<template>
    <div>
        <div id="reactroot_emoji_picker" class="dropdown">
            <div class="ts-emoji_picker">
                <div class="ts-emoji_picker__content">
                    <div class="emoji-search-box">
                        <span class="icon-search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                        <input type="text" v-model="search" class="form-control input-search-emoji" placeholder="Search">
                    </div>
                    <div class="ts-emoji_picker__list_container">
                        <div class="ts-emoji_picker__list">
                            <ul>
                                <li v-for="(icon, index) of filteredItems" :key="index">
                                    <a class="item-emoji" v-bind:title="icon.title" @click="onClickChose(icon.value)">
                                        <span class="mls c-icon" v-bind:class="icon.value">
                                            <span class="read-hidden-text ">{{icon.value}}</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="icon-area fleft">
                <span class="mls c-icon" v-bind:class="keyChose"> </span>
            </div>
            <button class="chooseIcon button-primary green fleft" type="button" data-toggle="dropdown">
                <i class="fa fa-superpowers" aria-hidden="true"></i>&nbsp;Choose the icon
            </button>
            <div class="clearfix"></div>
            <input :id="control.name" type="hidden" v-model="recorddata[control.name]" class="form-control" :name="control.name" autofocus :placeholder="control.title" :value="recorddata[control.name]">
            <label :for="control.name">
                <span>{{control.title}}</span>
            </label>
        </div>
    </div>
</template>
<script>

export default {
    props: ['recorddata', 'control'],
    data() {
        return {
            search: '',
            keyChose: "",
            icons: [
                { value: "c-milk-3", title: "Milk 3" },
                { value: "c-milkshake", title: "Milkshake" },
                { value: "c-mushroom-2", title: "Mushroom 2" },
                { value: "c-mushrooms", title: "Mushrooms" },
                { value: "c-oil", title: "Oil" },
                { value: "c-onion-2", title: "Onion 2" },
                { value: "c-onion", title: "Onion" },
                { value: "c-orange", title: "Orange" },
                { value: "c-oven", title: "Oven" },
                { value: "c-pan", title: "Pan" },
                { value: "c-pan2", title: "Pan 2" },
                { value: "c-pan3", title: "Pan 3" },
                { value: "c-pan4", title: "Pan 4" },
                { value: "c-chili-3", title: "Chili 3" },
                { value: "c-pear2", title: "Pear 2" },
                { value: "c-pear", title: "Pear" },
                { value: "c-chili-2", title: "Chili 2" },
                { value: "c-chili", title: "Chili" },
                { value: "c-pepsi", title: "Pepsi" },
                { value: "c-pitcher-of-lemonade", title: "Pitcher of Lemonade" },
                { value: "c-pizza", title: "Pizza" },
                { value: "c-pizza2", title: "Pizza 2" },
                { value: "c-plate", title: "Plate" },
                { value: "c-plunger", title: "Plunger" },
                { value: "c-pumpkin", title: "Pumpkin" },
                { value: "c-punder", title: "Punder" },
                { value: "c-refrigerator", title: "Refrigerator" },
                { value: "c-salt-pepper", title: "Salt pepper" },
                { value: "c-saucers", title: "Saucers" },
                { value: "c-sauces", title: "Sauces" },
                { value: "c-sausage", title: "Sausage" },
                { value: "c-sausage2", title: "Sausage 2" },
                { value: "c-scales", title: "Scales" },
                { value: "c-scotch-tape", title: "Scotch Tape" },
                { value: "c-scrambled-eggs", title: "Scrambled Eggs" },
                { value: "c-shashlik", title: "Shashlik" },
                { value: "c-shot", title: "Shot" },
                { value: "c-skimmer", title: "Skimmer" },
                { value: "c-smoothie", title: "Smoothie" },
                { value: "c-soup", title: "Soup" },
                { value: "c-soup-ladle", title: "Soup Ladle" },
                { value: "c-squash", title: "Squash" },
                { value: "c-squeezer", title: "Squeezer" },
                { value: "c-stove", title: "Stove" },
                { value: "c-strawberry", title: "Strawberry" },
                { value: "c-sugar", title: "Sugar" },
                { value: "c-sushi", title: "Sushi" },
                { value: "c-glass-of-tea", title: "Glass of Tea" },
                { value: "c-tea-bag", title: "Tea Bag" },
                { value: "c-tea-bag2", title: "Tea Bag 2" },
                { value: "c-teapot", title: "Teapot" },
                { value: "c-teapot2", title: "Teapot 2" },
                { value: "c-timer", title: "Timer" },
                { value: "c-toaster", title: "Toaster" },
                { value: "c-tomato2", title: "Tomato 2" },
                { value: "c-tomato", title: "Tomato" },
                { value: "c-toque", title: "Toque" },
                { value: "c-vase", title: "Vase" },
                { value: "c-vodka", title: "Vodka" },
                { value: "c-water", title: "Water" },
                { value: "c-water2", title: "Water 2" },
                { value: "c-watermelon2", title: "Watermelon 2" },
                { value: "c-watermelon", title: "Watermelon" },
                { value: "c-whiskey", title: "Whiskey" },
                { value: "c-wine", title: "Wine" },
                { value: "c-wine2", title: "Wine 2" },
                { value: "c-wine-barrels", title: "Wine Barrels" },
                { value: "c-honey", title: "Honey" },
                { value: "c-hot-dog", title: "Hot Dog" },
                { value: "c-ice-cream", title: "Ice Cream" },
                { value: "c-ice-cream2", title: "Ice Cream 2" },
                { value: "c-jam", title: "Jam" },
                { value: "c-jelly-bean", title: "Jelly Bean" },
                { value: "c-jug", title: "Jug" },
                { value: "c-jug2", title: "Jug 2" },
                { value: "c-juice", title: "Juice" },
                { value: "c-juice-small", title: "Juice  Small" },
                { value: "c-kettle", title: "Kettle" },
                { value: "c-knife1", title: "Knife1" },
                { value: "c-knife2", title: "Knife2" },
                { value: "c-knife3", title: "Knife3" },
                { value: "c-knife4", title: "Knife4" },
                { value: "c-knife5", title: "Knife5" },
                { value: "c-knife-for-potatoes", title: "Knife for Potatoes" },
                { value: "c-leaf", title: "Leaf" },
                { value: "c-lemon", title: "Lemon" },
                { value: "c-lemonade", title: "Lemonade" },
                { value: "c-lemonade2", title: "Lemonade2" },
                { value: "c-martini-bottle", title: "Martini Bottle" },
                { value: "c-lettuce", title: "Lettuce" },
                { value: "c-loaf", title: "Loaf" },
                { value: "c-martini", title: "Martini" },
                { value: "c-microwave", title: "Microwave" },
                { value: "c-milk", title: "Milk" },
                { value: "c-milk2", title: "Milk 2" },
                { value: "c-corn", title: "Corn" },
                { value: "c-corolla", title: "Corolla" },
                { value: "c-cracker", title: "Cracker" },
                { value: "c-cucumber", title: "Cucumber" },
                { value: "c-cup", title: "Cup" },
                { value: "c-cup-of-coffee", title: "Cup of Coffee" },
                { value: "c-cutlery", title: "Cutlery" },
                { value: "c-cutting-board", title: "Cutting Board" },
                { value: "c-dish", title: "Dish" },
                { value: "c-egg", title: "Egg" },
                { value: "c-eggplant", title: "Eggplant" },
                { value: "c-eggs", title: "Eggs" },
                { value: "c-ekobag", title: "Ekobag" },
                { value: "c-electric-kettle", title: "Electric Kettle" },
                { value: "c-energy", title: "Energy" },
                { value: "c-filter", title: "Filter" },
                { value: "c-fish", title: "Fish" },
                { value: "c-fizzy-water", title: "Fizzy Water" },
                { value: "c-fizzy-water2", title: "Fizzy Water 2" },
                { value: "c-fizzy-water3", title: "Fizzy Water 3" },
                { value: "c-fork", title: "Fork" },
                { value: "c-glass-of-beer-2", title: "Glass of Beer " },
                { value: "c-glass-of-whiskey", title: "Glass of Whiskey" },
                { value: "c-grain", title: "Grain" },
                { value: "c-grape", title: "Grape" },
                { value: "c-grater", title: "Grater" },
                { value: "c-grill", title: "Grill" },
                { value: "c-ham", title: "Ham" },
                { value: "c-hamburger", title: "Hamburger" },
                { value: "c-champagne", title: "Champagne" },
                { value: "c-cheese", title: "Cheese" },
                { value: "c-cherry", title: "Cherry" },
                { value: "c-chicken", title: "Chicken" },
                { value: "c-china-box", title: "China box" },
                { value: "c-chocolate", title: "Chocolate" },
                { value: "c-coca-cola-glass-cardboard", title: "Coca Cola Glass Cardboard" },
                { value: "c-cocktail", title: "Cocktail" },
                { value: "c-cocktail2", title: "Cocktail 2" },
                { value: "c-coffee", title: "Coffee" },
                { value: "c-coconut", title: "Coconut" },
                { value: "c-coctail3", title: "Coctail 3" },
                { value: "c-coffee-maker", title: "Coffee Maker" },
                { value: "c-coffee-maker2", title: "Coffee Maker 2" },
                { value: "c-coffee-mill", title: "Coffee  Mill" },
                { value: "c-cognac", title: "Cognac" },
                { value: "c-cognac2", title: "Cognac 2" },
                { value: "c-cognac3", title: "Cognac 3" },
                { value: "c-colander", title: "Colander" },
                { value: "c-cooler", title: "Cooler" },
                { value: "c-corkscrew", title: "Corkscrew" },
                { value: "c-bread-organicfood", title: "Bread Organicfood" },
                { value: "c-broccoli2", title: "Broccoli 2" },
                { value: "c-broccoli", title: "Broccoli" },
                { value: "c-burrito", title: "Burrito" },
                { value: "c-cabbage", title: "Cabbage" },
                { value: "c-cake", title: "Cake" },
                { value: "c-cake2", title: "Cake 2" },
                { value: "c-candy", title: "Candy" },
                { value: "c-candy2", title: "Candy 2" },
                { value: "c-canned-food", title: "Canned Food" },
                { value: "c-canned-vegetables", title: "Canned Vegetables" },
                { value: "c-carrot", title: "Carrot" },
                { value: "c-carrot-2", title: "Carrot 2" },
                { value: "c-a-glass-of-brandy", title: "A Glass of Brandy" },
                { value: "c-a-glass-of-wine", title: "Glass of Wine" },
                { value: "c-apple", title: "Apple" },
                { value: "c-apple-2", title: "Apple 2" },
                { value: "c-apron", title: "Apron" },
                { value: "c-avocado", title: "Avocado" },
                { value: "c-bales", title: "Bales" },
                { value: "c-banana", title: "Banana" },
                { value: "c-banana-2", title: "Banana 2" },
                { value: "c-barbecue", title: "Barbecue" },
                { value: "c-shopping-basket", title: "Shopping Basket" },
                { value: "c-glass-of-beer", title: "Glass of Beer" },
                { value: "c-blade", title: "Blade" },
                { value: "c-blender2", title: "Blender 2" },
                { value: "c-blender", title: "Blender" },
                { value: "c-bottle-of-beer", title: "Bottle of Beer" },
                { value: "c-bottle-of-coca-cola", title: "Bottle of Coca-cola" },
                { value: "c-bottle-of-fanta", title: "Bottle of Fanta" },
                { value: "c-bread", title: "Bread" },
                { value: "c-fitness", title: "Fitness" },
                { value: "c-allergy_milk", title: "Allergy Milk" },
                { value: "c-allergy_shellfish", title: "Allergy Shellfish" },
                { value: "c-allergy_tree_nuts", title: "Allergy Tree Nuts" },
                { value: "c-allergy", title: "Allergy" },
                { value: "c-preference", title: "Preference" },
                { value: "c-medical", title: "Medical" },
                { value: "c-allergy_fish", title: "Allergy Fish" },
                { value: "c-calendar", title: "Calendar" },
                { value: "c-allergy_soy", title: "Allergy Soy" },
                { value: "c-religion", title: "Religion" },
                { value: "c-allergy_peanut", title: "Allergy Peanut" },
                { value: "c-intolerance", title: "Intolerance" },
                { value: "c-allergy_eggs", title: "Allergy Eggs" }
            ]

        }
    },

    watch: {
    },

    mounted() {

    },
    methods: {
        onClickChose: function(value) {
            this.recorddata[this.control.name] = value;
            this.keyChose = value;
        }
    },
    computed: {
        filteredItems() {
            return this.icons.filter(item => {
                return item.value.indexOf(this.search.toLowerCase()) > -1
            })
        }
    }
}
</script>
