<template>
    <div class="form-group">
        <label class="customICheck icheck-m-right-5">
            <input type="radio"><span class="glyphicon glyphicon-envelope"></span>
        </label>
        <label class="customICheck icheck-m-right-5">
            <input type="radio"><span class="glyphicon glyphicon-envelope"></span>
        </label>
    </div>
</template>

<script>

export default {
    props: ['recorddata', 'control'],
    data() {
        return {

        }
    },

    watch: {
    },

    mounted() {

    }
}
</script>
