<template>
    <div class="input-group">
        <input :id="control.name" type="number" min="0" :step="control.step" v-model="recorddata[control.name]" class="form-control" :name="control.name" autofocus :placeholder="control.title" :value="recorddata[control.name]">
        <label :for="control.name"><span>{{control.title}}</span></label>
    </div>
</template>

<script>

export default {
    props: ['recorddata', 'control'],
    data() {
        return {

        }
    },

    watch: {
    },

    mounted() {
        
    }
}
</script>
