<template>
<div class="input-group">
    <password v-model="recorddata[control.name]" :placeholder="control.title" class="form-control pass-strength" :badge="false"></password>
    <span class="input-group-addon pw-show"><i class="fa fa-eye" aria-hidden="true"></i></span>
</div>
</template>

<script>
import Password from 'vue-password-strength-meter'

export default {
    components: { Password },
    props: ['recorddata', 'control', 'errors'],
    data() {
        return {

        }
    },

    watch: {
    
    },

    mounted() {

    },
    created() {
        this.$parent.$parent.$parent.modalEvent = function (val) {
            if (val == 0) {
                $('.Password__strength-meter--fill').removeAttr('data-score');
            }
        };
    }
}
</script>