<template>
    <input v-if="control.isBare" :class="control.className" :name="control.name" id="autocomplete" :ref="control.name" type="text" v-model="autocompleteText" @focus="geolocate" />
    <div v-else class="input-group">
        <!-- <input id="location" type="text" class="form-control" name="location" autofocus v-model="recorddata[control.name]" placeholder="Location"> -->
        <label :for="control.name">
            <span>{{ control.title }}</span>
            <span class="text-danger"></span>
        </label>
        <input :name="control.name" id="autocomplete" :ref="control.name" type="text" v-model="autocompleteText" @focus="geolocate" />
    </div>
</template>
<script>

export default {
    props: ['recorddata', 'control'],
    data() {
        return {
            data: [],
            id: {
                type: String,
                required: true
            },
            elements: new Form_(),
            autocomplete: null,
            autocompleteText: '',
        }
    },
    methods: {
        clear() {
            this.autocompleteText = '';
        },
        update(value) {
            this.autocompleteText = value;
        },
        geolocate() {
            if (navigator.geolocation) {
                var vm = this;
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });

                    vm.autocomplete.setBounds(circle.getBounds());
                });
            }
        },
    },
    watch: {
        recorddata: function(val) {
            if (! val.location || ! val.location.formatted_address) {
                this.autocompleteText = val.location;
            } else {
                this.autocompleteText = val.location.formatted_address;
            }
        }
    },
    created() {
        var vm = this;
        //vm.recorddata[vm.control.name] = [];
        let table = this.$parent.$parent.$parent;
        if (table && ! this.control.isBare) {
            table.modalEvent.push(function(val) {
                if (val == 1) {
                    vm.autocompleteText = '';
                }
                // if (val ==2){
                //     vm.autocompleteText = vm.recorddata[vm.control.name]['formatted_address'];
                // }
            });
        }
    },
    mounted() {
        var vm = this;
        var ele = $(vm.$refs[vm.control.name])

        vm.autocomplete = new google.maps.places.Autocomplete(
            vm.$refs[vm.control.name],
            { types: ['geocode'] }
        );

        vm.autocomplete.addListener('place_changed', function() {
            var place = vm.autocomplete.getPlace();
            vm.recorddata[vm.control.name] = place;
        });

    },
    updated() {
        // console.log('Updated - ');
        // console.log(this.recorddata.location);

        var vm = this;
        $(document).trigger('load-location')
    }
}
</script>