<template>
<div class="priority">
    <span v-if="!errors[control.name]">{{control.title}}</span>
    <span class="text-danger" v-if="errors[control.name]" v-text="errors[control.name]"></span>
    <draggable v-model="resourceData" @start="drag=true" @end="reSorter()">
        <div class="sort-category" v-for="item in resourceData">
            {{item.name}}
            <i class="fa fa-thumb-tack" style="text-align:right" aria-hidden="true"></i>
        </div>
    </draggable>
</div>
</template>

<script>
import draggable from 'vuedraggable'
export default {
    components: {
        draggable
    },
    props: ['recorddata', 'control', 'errors'],
    data() {
        return {
            resourceData: [],
            data:[],
            elements: new Form_(),
            drag: true,
            group:'people',
            position: this.$parent.recorddata[this.control.related]
        }
    },
    methods:{
        reSorter(){
            this.drag = false;
            this.recorddata[this.control.name] = this.resourceData;
        },
        getResourceData(){
            var vm = this;
            if (this.clientData) {
                vm.resourceData = this.clientData;
                return;
            }
            vm.elements.post(vm.control.resourceLink).then(response => {
                vm.resourceData = response;
            });
        }
    },
    watch: {
        recorddata(val, oldVal){
            var vm = this;
            var position = val.position
            if(position && position!= 'undefined'){
                vm.elements.post('/asim/a-box/list?id='+position).then(response => {
                    vm.resourceData = response;
                });
            }
        }
    },
    created(){
        var vm = this;
        if (! vm.recorddata[vm.control.name]) {
            vm.recorddata[vm.control.name] = [];
        };
        this.getResourceData();
    },
    mounted() {
    },
    updated(){
    }
}
</script>
