<template>
<select v-if="control.isBare" :class="control.className" :id="control.name" :ref="control.name" v-model="recorddata[control.name]" v-bind:multiple="control.multiple" :data-tags="control.tag" :name="control.name" :rel="control.rel" autofocus :data-placeholder="control.title">
    <option v-for="(item, index) in resourceData" :selected="true" :value="item.id" :key="index">{{item.name}}</option>
</select>
<div v-else class="input-group">
    <select :id="control.name" :ref="control.name" v-model="recorddata[control.name]" v-bind:multiple="control.multiple" :data-tags="control.tag" class="form-control select2" :name="control.name" :rel="control.rel" autofocus :data-placeholder="control.title">
        <option v-for="(item, index) in resourceData" :selected="true" :value="item.id" :key="index">{{item.name}}</option>
    </select>
    <label :for="control.name" class="error">
        <span class="text-danger" v-if="typeof errors[control.name] != 'undefined'" v-text="errors[control.name]"></span>
    </label>
</div>
</template>

<script>

export default {
    props: ['recorddata', 'control', 'clientData', 'errors'],
    data() {
        return {
            resourceData:[],
            data:[],
            elements: new Form_(),
            item: {}
        }
    },
    methods:{
        getResourceData(){
            var vm = this;
            if (this.clientData) {
                vm.resourceData = this.clientData;
                return;
            }
            vm.elements.get(vm.control.resourceLink).then(response => {
                vm.resourceData = response;
            });
        },
        loadPriority(){
            var vm = this;
            if(vm.control.related){
                if(vm.control.input){
                    let catName = vm.$parent.recorddata[vm.control.input];
                    vm.$parent.controldata.map(function (value, key){
                        if(value.name == vm.control.related){
                            vm.$parent.$children[key].resourceData.map(function(record, index){
                                if(record.id == vm.$parent.recorddata.id){
                                    record.name = catName;
                                }else{
                                    // let length = vm.$parent.$children[key].length
                                    vm.item.name = catName;
                                    // console.log(vm.$parent.$children[key].resourceData[]);
                                }
                            });
                            vm.$parent.recorddata[vm.control.related] = vm.$parent.$children[key].resourceData;                           
                        }
                    });
                }
            }
        }
    },
    watch: {
    },
    created(){
        var vm = this;
        if (! vm.recorddata[vm.control.name]) {
            vm.recorddata[vm.control.name] = [];
        };
        this.getResourceData();
        let table = this.$parent.$parent.$parent;
        if (table && ! this.control.isBare) {
            table.modalEvent.push(function (val) {
                if (val != 0) {
                    vm.$forceUpdate();
                }
            });
        }
    },
    mounted() {
        let vm = this;
        var ele = this.control.name;
        $(this.$refs[ele]).on('select2:close', function (evt) {
            var group_name = $(this).attr("rel");
            vm.recorddata[vm.control.name] = $(this).val();
            vm.$parent.controldata.map(function (value, key){
                if(value.name == vm.control.related){
                    let controlRelated = vm.$parent.controldata[key];
                    let currentLink = controlRelated.resourceLink;
                    let newLink = currentLink + '?idCat=' + vm.recorddata[vm.control.name];
                    if(vm.recorddata.id){
                        newLink = newLink +'&id='+vm.recorddata.id
                    }
                    vm.elements.post(newLink).then(response => {
                        let flag = false;
                        response.forEach(function(record){
                            if(vm.$parent.recorddata.id == record.id){
                                flag = true;
                            }
                        });
                        if(!flag){
                            response.push(vm.item);
                        }
                        vm.$parent.$children[key].resourceData = response;
                        vm.$parent.recorddata[vm.control.related] = response;
                    });
                }
            });
            vm.loadPriority();
        });
        $(this.$refs[ele]).val(this.recorddata[this.control.name]).trigger('change');
    },
    updated(){
        var vm = this;
        var ele = vm.control.name;
        $(this.$refs[ele]).val(this.recorddata[this.control.name]).trigger('change');
        $(document).trigger('load-select2');
        this.loadPriority();
    }
}
</script>
