<template>
    <div class="input-group">
        <select :name="control.name" :placeholder="control.title" v-model="recorddata[control.name]" class="form-control">
            <option v-for="(item, index) in resourceData" :selected="item.id == recorddata[control.name]" :value="item.id" :key="index">{{item.name}}</option>
        </select>
    </div>
</template>

<script>

export default {
    props: ['recorddata', 'control'],
    data() {
        return {
            resourceData: [],
            data: [],
            elements: new Form_()
        }
    },

    methods:{
        getResourceData(){
            var vm = this
            vm.elements.get(vm.control.resourceLink).then(response => {
                vm.resourceData = response;
            });
        }
    },

    watch: {
    },

    mounted() {
        
    },
    created() {
        this.getResourceData();
        // this.recorddata[this.control.name] = 1;
    }
}
</script>