<template>
<select v-if="control.isBare" :class="control.className" :id="control.name" :ref="control.name" v-model="recorddata[control.name]" v-bind:multiple="control.multiple" :data-tags="control.tag" :name="control.name" :rel="control.rel" autofocus :data-placeholder="control.title">
    <option v-for="(item, index) in resourceData" :selected="true" :value="item.id" :key="index">{{item.name}}</option>
</select>
<div v-else class="input-group">
    <select :id="control.name" :ref="control.name" v-model="recorddata[control.name]" v-bind:multiple="control.multiple" :data-tags="control.tag" class="form-control select2" :name="control.name" :rel="control.rel" autofocus :data-placeholder="control.title">
        <option v-for="(item, index) in resourceData" :selected="true" :value="item.id" :key="index">{{item.name}}</option>
    </select>
    <label :for="control.name" class="error">
        <span class="text-danger" v-if="typeof errors[control.name] != 'undefined'" v-text="errors[control.name]"></span>
    </label>
</div>
</template>

<script>

export default {
    props: ['recorddata', 'control', 'clientData', 'errors'],
    data() {
        return {
            resourceData:[],
            data:[],
            elements: new Form_()
        }
    },
    methods:{
        getResourceData(){
            var vm = this;
            if (this.clientData) {
                vm.resourceData = this.clientData;
                return;
            }
            vm.elements.get(vm.control.resourceLink).then(response => {
                vm.resourceData = response;
            });
        }
    },
    watch: {

    },
    created(){
        var vm = this;
        if (! vm.recorddata[vm.control.name]) {
            vm.recorddata[vm.control.name] = [];
        };
        this.getResourceData();
        let table = this.$parent.$parent.$parent;
        if (table && ! this.control.isBare) {
            table.modalEvent.push(function (val) {
                if (val != 0) {
                    vm.$forceUpdate();
                }
            });
        }
    },
    mounted() {
        let vm = this;
        var ele = this.control.name;
        $(this.$refs[ele]).on('select2:close', function (evt) {
            var group_name = $(this).attr("rel");
            vm.recorddata[vm.control.name] = $(this).val();
        });
        $(this.$refs[ele]).val(this.recorddata[this.control.name]).trigger('change');
    },
    updated(){
        var vm = this;
        var ele = vm.control.name;
        $(this.$refs[ele]).val(this.recorddata[this.control.name]).trigger('change');
        $(document).trigger('load-select2');
    }
}
</script>
