<template>
<div class="input-group">
    <span style="display: inline-block; float:left; padding: 5px 5px 0 0;">{{control.title}}</span>
    <label class="switch">
        <input type="checkbox" :name="control.name" v-model="recorddata[control.name]">
        <span class="slider round"></span>
    </label>
</div>
</template>

<script>

export default {
    props: ['recorddata', 'control', 'clientData', 'errors'],
    data() {
        return {
        }
    },
    methods:{
    },
    watch: {

    },
    created(){
        var vm = this;
        if (! vm.recorddata[vm.control.name]) {
            vm.recorddata[vm.control.name] = vm.control.default;
        };
    },
    mounted() {
        
    },
    updated(){
        
    }
}
</script>
