<template>
    <div class="input-group">
        <button @click="addItem" class="button-primary green"><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;Add</button>
        <table class="table table-responsive table-bordered child-table-modal">
            <thead>
                <tr>
                    <th v-for="(col, index) in control.header" :key="index">{{ col }}</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(record, index1) in recorddata[nameOfControl]" :key="index1">
                    <td v-for="(attr, index2) in record.visual" :key="index2">{{attr}}</td>
                    <td><button @click="deleteItem($event, index1)"  class="button-primary mini"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

export default {
    props: ['recorddata', 'control'],
    data() {
        return {
            nameOfControl: this.control.name
        }
    },

    watch: {
    },

    methods: {
        addItem(e) {
            e.preventDefault();
            let newRecord = {
                visual: [],
                real: {}
            };
            let k = 0;
            for (let i in this.control.itemKey) {
                if (! this.checkRequired(i, k)) return false;
                newRecord.real[i] = this.recorddata[i];
                let title = this.recorddata[i];
                if (this.control.itemKey[i] == 'select2') {
                    title = $('#' + i).select2('data')[0].text;
                }
                newRecord.visual.push(title);
                k++;
            }
            this.recorddata[this.nameOfControl][this.recorddata[this.control.idKey]] = newRecord;
            this.$forceUpdate();
        },
        deleteItem(event, index) {
            event.preventDefault();
            delete this.recorddata[this.nameOfControl][index];
            this.$forceUpdate();
        },
        checkRequired(field, index) {
            if (! this.recorddata[field]) {
                alert(this.control.header[index] + ' is missing!');
                return false;
            }
            return true;
        }
    },

    mounted() {

    },
    created() {
        this.recorddata[this.nameOfControl] = {};
        let vm = this;
        let table = this.$parent.$parent.$parent;
        table.modalEvent.push(function (val) {
            if (val != 0) {
                vm.$forceUpdate();
            }
        });
    },
    updated() {
    }
}
</script>
