<template>
    <div class="input-group">
        <table class="table .table-striped">
            <tr>
                <td>Ingredient</td>
                <td>Amount</td>
                <td>Unit</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><select2 :control="control.control[0]" :recorddata="recorddata.tableControlData"></select2></td>
                <td><numberfield :control="control.control[1]" :recorddata="recorddata.tableControlData"></numberfield></td>
                <td><select2 :control="control.control[2]" :recorddata="recorddata.tableControlData"></select2></td>
                <td><span class="glyphicon glyphicon-plus"></span></td>
            </tr>
        </table>
    </div>
</template>

<script>
import numberfield from "./numberfield";
import select2 from "./select2";

export default {
    components: {
        select2,
        numberfield
    },
    props: ['recorddata', 'control'],
    data() {
        return {
            
        }
    },

    watch: {
    },

    mounted() {
    },
    created() {
        this.recorddata['tableControlData'] = [];
        let dataControl = {};
        dataControl[this.control.control[0].name] = '';
        dataControl[this.control.control[1].name] = '';
        dataControl[this.control.control[2].name] = '';
        this.recorddata['tableControlData'].push(dataControl);
    }
}
</script>
