<template>
    <div class="input-group">
        <input :id="control.name" type="text" v-model="recorddata[control.name]" class="form-control" :name="control.name" autofocus :placeholder="'Nhập ' + control.title" :value="recorddata[control.name]">
        <label :for="control.name">
            <span v-if="!errors[control.name]">{{control.title}}</span>
            <span class="text-danger" v-if="errors[control.name]" v-text="errors[control.name]"></span>
        </label>
    </div>
</template>

<script>

export default {
    props: ['recorddata', 'control', 'errors'],
    data() {
        return {

        }
    },

    watch: {
    },

    mounted() {
    },
    created() {
        $('.float-label-control').floatLabels();
    },
    updated(){
        // $('.float-label-control').floatLabels();
    }
}
</script>
