
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "resources/assets/plugins/font-awesome/scss/font-awesome";

html, body{
  width: 100%;
  margin: 0 auto;
  background-color: #d2d2d4 !important;
}
#wrapper{
  max-width: $body-max-width;
  //background-color: rgba(255, 255, 255, .5);
  margin:auto;
  .navbar{
    background-color: transparent;
    border: none transparent;
    margin-bottom: 5px;
    .container-fluid{
      padding: 0 !important;
      .navbar-brand{
        width: 100px;
        // display: inline-block;
        .logo { width: 100%;}
      }
      .navbar-collapse{
        padding: 0 !important;
        .navbar-right{
          margin-right: 0;
          text-align: right !important;
          .dropdown{
            width:auto !important;
          }
        }
        .navbar-nav{
          li{
            a{
              display: inline-block;
              h1{
                margin: 0; padding: 0;
                color: #777;
                font-size: inherit;
                line-height: 25px;
              }
            }
          }
          .ip{
            height: 50px !important;
            line-height: 10px;
            float: left;
            span{
              display: inline-block;
              padding: 14px 0 15px 0;
              color: #777;
              font-size: inherit;
              line-height: 25px;
            }
          }
          .fa-icon{
            font-size: 1.5em;
            padding-left: 5px !important;
            padding-left: 5px;
            &:hover{
              color: #137cbf;
            }
          }
        }
        .search {
          position: relative;
          input {
            border: 2px solid #d2d6de;
            width:100%;
            z-index:10;
          }
          .fa-search {
            position: absolute;
            // top: 10px;
            right: 3%;
            z-index:20;
            padding: 10px;
            width: 50px;
            text-align: center;
            color: #137cbf;
            font-size: 15px;
          }
        }
        .navbar-form{
          width: 45%;
        }
      }
    }
  }
  .big-icon {
    font-size: 160px !important;
    color: #e5e6e7;
  }
  #sortable-weblink{
    max-height: 160px;
    position: relative;
    margin-left: 0;
    padding: 0 10px 0 10px;
    .class-add{
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
.signupTitle{
  color: #3197d1;
  h4, p{
    font-weight: 800;
  }
}
.mainContent{
  display: inline-flex;
  .listLinkMain{
    padding: 10px;
    clear: both;
    background: rgba(255, 255, 255, .4);
    @media screen and (min-width: 770px) {
      width: 74%;
      margin-right: 1%;
    }
    .detailList{
      width: 100%;
      display: table;
      margin-bottom: 10px;
      clear: both;
      .col-md-2{
        overflow: hidden;
        padding: 10px 5px 0 0;
        a.showLink{
          display: block;
          text-decoration: none;
          color: #5a595c;
          padding: 10px 5px;
          background: #fff;
          // width: 100px;
          // max-height: 40px;
          &:hover{
            text-decoration: underline;
            color: #137cbf;
            background: transparent;
          }
          h2{
            margin: 0;
            padding: 0;
            display: block;
            font-size: 1em;
            color: #5a595c;
            // width: 100px;
            // overflow: hidden;
            // height: 25px;
            // line-height: 25px;
            &:hover{
              color: #137cbf;
            }
          }
        }
      }
    }
  }
  .listLinkLeft{
    padding: 10px;
    background: rgba(255, 255, 255, .4);
    @media screen and (min-width: 770px) {
      width: 25%;
    }
    .detailLeft{
      margin: 0;
      padding: 0;
      list-style: none
    }
  }
}
a.showLink{
  display: block;
  text-decoration: none;
  color: #5a595c;
  // width: 100px;
  // height: 25px;
  // line-height: 25px;
  &:hover{
    text-decoration: underline;
    color: #137cbf;
  }
  h2{
    margin: 0;
    padding: 0;
    display: block;
    font-size: 1em;
    color: #5a595c;
    // width: 100px;
    // overflow: hidden;
    // height: 25px;
    // line-height: 25px;
  }
}
.header-highlights{
  width:100%;
  display: block;
  overflow: hidden;
  .boxHeader{
    margin: 0;
    float: left;
    font-weight: 400 !important;
    font-size: 1.2em;
    a{
      h2{
        background-color: #137cbf;
        color: #fff;
        padding: 10px;
      }
    }
  }
  .highlights{
    margin: 0;
    float:left;
    font-weight: 400 !important;
    font-size: 1.2em;
    a{
      h2{
        color: #137cbf;
        padding: 10px 20px;
      }
    }
  }
}
.normal-links{
  clear: both;
  font-weight: 400 !important;
  font-size: 1em;
  a{
    h2{
      padding-left: 10px;
    }
  }
}

.footer{
  height: 70px;
  padding: 10px 0;
  .col-xs-2{
    a{
      display: inline-block;
      padding: 5px 10px;
      height: 35px;
      line-height: 30px;
      color: #636b6f;
      i{
        font-size: 1.5em;
      }
    }
  }
  .col-xs-6 {
    height: 35px !important;
    color: #000;
    .col-md-4{
      padding:5px 0;
      line-height: 30px;
    }
  }
  .col-xs-4{
    height: 35px !important;
    color: #000;
    .col-md-4{
      padding:5px 0;
      line-height: 30px;
      float: right;
    }
  }
  @media (min-width: 992px){
    .col-md-4 {
      width: auto;
    }
  }
}
.errLogin, .errAddLink{
  display: none;
  color:red;
}
#blockUIblockPage{
  top:30% !important;
  left: 30% !important;
  @media screen and (max-width: 770px) {
    top:20% !important;
    left: 5% !important;
    width: 90% !important;
    .edit-box-prompt, .remove-box-prompt, .box-prompt-content, input.input_box-prompt, input.aui-field-input{
      width: 100% !important;
    }
    .edit-box-prompt{
      height: 200px !important
    }
    .aui-form-validator-message{
      top:85% !important;
      left: 0% !important;
    }
    #icon-site-remove{
      margin-left: -190px !important;
    }
    .box-prompt-control{
      margin: 14px 20px 0 0 !important;
    }
  }
}