<template>
    <div class="admin-articles">
        Articles
    </div>
</template>

<script>
    export default {
        props: [

        ],
        data() {
            return {

            }
        },
        methods: {

        },
        mounted() {

        },
        created() {
        },
    }
</script>
