<template>
    <div class="admin-categories">
        <admin-breadcum :header="headerInfo"></admin-breadcum>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ headerInfo.subtitle | capitalize }}</h5>
                    </div>
                    <div class="ibox-content">
                        <custom-table :link="dataResourceLink" :col="col" :largeForm="true" :controlData="controlData" :showID="showID" :title="headerInfo.title"></custom-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: [],

    data() {
        return {
            headerInfo: {
                title: 'danh mục',
                subtitle: 'Danh sách danh mục',
                breadcrumb: ['danh mục']
            },
            dataResourceLink: '/asim/a-box',
            controlData: [],
            showID: false,
            col: 2
        }
    },

    created() {
        this.$parent.headerInfo = this.headerInfo;
        this.controlData = this.genControlData();
    },
    methods: {
        genControlData() {
            return [
                {
                    name: 'name',
                    title: 'Tên Danh Mục',
                    type: 'text',
                    neighbor: 'position'
                },
                {
                    name: 'position',
                    title: 'Vị Trí',
                    type: 'select2',
                    resourceLink: '/asim/a-box/position',
                    tag: 'false',
                    rel: 'position',
                    neighbor: 'name',
                    input: "name",
                    related: 'priority'
                },
                {
                    name: 'priority',
                    title: 'Độ ưu tiên',
                    type: 'priority',
                    resourceLink: '/asim/a-box/list',
                    tag: 'false',
                    neighbor: 'editor',
                    related: 'position',
                    input: 'name'
                },
                {
                    name: 'description',
                    title: 'Mô tả',
                    type: 'editor',
                    neighbor: 'priority'
                },
                {
                    name: 'status',
                    title: 'Tình Trạng',
                    type: 'status',
                    default: true
                }
            ];
        }
    },
    mounted() {
        
    }
}
</script>