<template>
    <div class="admin-external-sites">
        <admin-breadcum :header="headerInfo"></admin-breadcum>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ headerInfo.subtitle | capitalize }}</h5>
                    </div>
                    <div class="ibox-content">
                        <custom-table :link="dataResourceLink" :col="col" :largeForm="true" :controlData="controlData" :showID="showID" :title="headerInfo.title"></custom-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: [

    ],
    data() {
    return {
        headerInfo: {
            title: 'sites lấy tin',
            subtitle: 'Danh sách website lấy tin',
            breadcrumb: ['site lấy tin']
        },
        dataResourceLink: '/asim/a-sites',
        controlData: [],
        col: 2,
        showID: false
    }
},
methods: {
    genControlData() {
        return [
            {
                name: 'name',
                title: 'Tên Website',
                type: 'text',
            },
            {
                name: 'link',
                title: 'URL Website',
                type: 'text',
            },
            {
                name: 'limit_record',
                title: 'Giới hạn lấy tin',
                type: 'text',
            },
            {
                name: 'limit_show',
                title: 'Giới hạn hiển thị',
                type: 'text',
            },
            {
                name: 'enable',
                title: 'Tình Trạng',
                type: 'status',
                default: true
            }
        ];
    }

},
mounted() {

},
created() {
    this.$parent.headerInfo = this.headerInfo;
    this.controlData = this.genControlData();
},
}
</script>
