<!--<template>-->
  <!--<form class="no-border m-top-20" method="POST" @submit.prevent='onSubmit' @keydown='form.errors.clear($event.target.name)'>-->
    <!--<div class="form-group float-label-control" v-bind:class="{ 'has-error': form.errors.has('email') }">-->
      <!--<div class="col-md-12">-->
        <!--<div class="alert alert-success" v-show="msg" role="alert">-->
          <!--{{msg}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-12">-->
        <!--<div class="input-group">-->
          <!--<input id="email" type="email" class="form-control" name="email"  autofocus  placeholder="Email" v-model="form.email">-->
          <!--<label for="email"><span v-if="!form.errors.has('email')">Email</span><span class="text-danger" v-if="form.errors.has('email')" v-text="form.errors.get('email')"></span></label>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<div class="col-xs-10 col-xs-offset-1">-->
        <!--<button type="submit" class="btn btn-primary text-uppercase btn-brands loading-button" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." autocomplete="off">Send Password Reset Link</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</template>-->

<!--<script>-->
    <!--export default {-->
        <!--props: [-->

        <!--],-->
        <!--data(){-->
            <!--return {-->
                <!--msg: '',-->
                <!--form: new Form_({-->
                    <!--email: '',-->
                    <!--password: ''-->
                <!--}),-->
            <!--}-->
        <!--},-->
        <!--methods: {-->
            <!--onSubmit(){-->
              <!--this.msg = '';-->
              <!--this.form.post('/password/email')-->
                  <!--.then(data => {-->
                      <!--this.msg = data.msg.msg-->
                      <!--// console.log(data);-->
                      <!--// this.shared.users.push(data);-->
                  <!--} )-->
                  <!--.catch(errors => {-->
                    <!--console.log(errors)-->
                  <!--});-->
            <!--},-->

        <!--},-->
        <!--mounted() {-->

        <!--},-->
        <!--created() {-->
        <!--}-->
    <!--}-->
<!--</script>-->
