<!--<template>-->
  <!--<form class="no-border" role="form" method="POST" @submit.prevent='onSubmit' @keydown='form.errors.clear($event.target.name)'>-->
    <!--<div class="form-group float-label-control" v-bind:class="{ 'has-error': form.errors.has('email') }">-->
      <!--<div class="col-md-12">-->
        <!--<div class="input-group">-->
          <!--<input id="email" type="email" class="form-control" name="email"  autofocus  placeholder="Email" v-model="form.email">-->
          <!--<label for="email"><span v-if="!form.errors.has('email')">Email</span><span class="text-danger" v-if="form.errors.has('email')" v-text="form.errors.get('email')"></span></label>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group float-label-control" v-bind:class="{ 'has-error': form.errors.has('password') }">-->
      <!--<div class="col-md-12">-->
        <!--<div class="input-group">-->
          <!--<input id="password" type="password" class="form-control" name="password"  placeholder="Password" v-model="form.password">-->
          <!--<label for="password"><span v-if="!form.errors.has('password')">Password</span><span class="text-danger" v-if="form.errors.has('password')" v-text="form.errors.get('password')"></span></label>-->
          <!--<span class="input-group-addon pw-show"><i class="fa fa-eye" aria-hidden="true"></i></span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<div class="col-md-12">-->
        <!--<div class="checkbox">-->
          <!--<label>-->
            <!--<input class="icheck-flat-green" type="checkbox" name="remember"> Remember Me-->
          <!--</label>-->
          <!--<a class="btn-link pull-right" href="#">-->
            <!--Forgot Your Password?-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<div class="col-xs-10 col-xs-offset-1">-->
        <!--<button type="submit" class="btn btn-primary btn-block text-uppercase btn-brands">-->
          <!--Sign in-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</template>-->

<!--<script>-->
    <!--export default {-->
        <!--props: [-->

        <!--],-->
        <!--data(){-->
            <!--return {-->
                <!--form: new Form_({-->
                    <!--email: '',-->
                    <!--password: ''-->
                <!--}),-->
            <!--}-->
        <!--},-->
        <!--methods: {-->
            <!--onSubmit(){-->
                <!--this.form.post('/login')-->
                    <!--.then(data => {-->
                        <!--// console.log(data);-->
                        <!--// this.shared.users.push(data);-->
                    <!--} )-->
                    <!--.catch(errors => {-->
                      <!--// console.log(errors)-->
                    <!--});-->
            <!--},-->

        <!--},-->
        <!--mounted() {-->

        <!--},-->
        <!--created() {-->
        <!--}-->
    <!--}-->
<!--</script>-->
