<template>
  <div class="admin-dashboard">
      <div class="row wrapper border-bottom white-bg page-heading">
          <div class="col-sm-4">
              <h2>Dashboard</h2>
              <ol class="breadcrumb"><li><i class="fa fa-th-large"></i><a href="/home"> Dashboard </a></li></ol>
          </div>
      </div>
  </div>

</template>

<script>
    export default {
        props: [

        ],
        data(){
            return {

            }
        },
        methods: {

        },
        mounted() {

        },
        created() {
        }
    }
</script>
