<template>
    <div class="admin-categories">
        <admin-breadcum :header="headerInfo"></admin-breadcum>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ headerInfo.subtitle | capitalize }}</h5>
                    </div>
                    <div class="ibox-content">
                        <input type="radio" id="user" name='type' value="user" v-model="type">
                        <label for="two">Liên kết người dùng</label>
                        <input type="radio" id="admin" name='type' value="admin" v-model="type">
                        <label for="one">Liên kết codexanh</label>                        
                        <custom-table :link="dataResourceLink" :col="col" :largeForm="true" :controlData="controlData" :showID="showID" :title="headerInfo.title"></custom-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: [],

    data() {
        return {
            headerInfo: {
                title: 'liên kết',
                subtitle: 'Danh sách liên kết',
                breadcrumb: ['liên kết']
            },
            originalDataResourceLink: '/asim/a-link',
            dataResourceLink: '/asim/a-link',
            controlData: [],
            type: 'user',
            showID: false,
            col:2
        }
    },
    watch: {
        type (val, oldVal){
            this.dataResourceLink = this.originalDataResourceLink + '?type=' + val;
            this.$children[1].link = this.dataResourceLink;
            this.$children[1].listData();
            this.dataResourceLink = this.originalDataResourceLink;
        }
    },
    created() {
        var vm = this;
        this.$parent.headerInfo = this.headerInfo;
        this.controlData = this.genControlData();
    },
    methods: {
        genControlData() {
            return [
                {
                    name: 'name',
                    title: 'Tên Liên Kết',
                    type: 'text'
                },
                {
                    name: 'url',
                    title: 'Url Liên Kết',
                    type: 'text'
                },
                {
                    name: 'category_id',
                    title: 'Danh mục',
                    type: 'select2',
                    resourceLink: '/asim/a-box/getList',
                    tag: 'false',
                    rel: 'category_id',
                    neighbor: 'name',
                    input: "name",
                    related: 'priority'
                },
                {
                    name: 'priority',
                    title: 'Độ ưu tiên',
                    type: 'priority',
                    resourceLink: '/asim/a-link/list',
                    tag: 'false',
                    neighbor: 'is_follow',
                    related: 'category_id',
                    input: 'name'
                },
                {
                    name: 'is_follow',
                    title: 'Follow',
                    type: 'status',
                    default: false
                },
                {
                    name: 'enable',
                    title: 'Tình Trạng',
                    type: 'status',
                    default: true
                },
                {
                    name: 'is_highlight',
                    title: 'Nổi bật',
                    type: 'status',
                    default: true
                }
            ];
        }
    },
    mounted() {
        
    },
    update(){
        
    }
}
</script>