<template>
    <div class="admin-pages">
        <admin-breadcum :header="headerInfo"></admin-breadcum>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ headerInfo.subtitle | capitalize }}</h5>
                    </div>
                    <div class="ibox-content">
                        <custom-table :link="dataResourceLink" :col="1" :largeForm="true" :controlData="controlData" :showID="showID" :title="headerInfo.title"></custom-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: [],

    data() {
        return {
            headerInfo: {
                title: 'trang tĩnh',
                subtitle: 'Danh sách trang tĩnh',
                breadcrumb: ['trang tĩnh']
            },
            dataResourceLink: '/asim/a-page',
            controlData: [],
            showID: false
        }
    },

    created() {
        this.$parent.headerInfo = this.headerInfo;
        this.controlData = this.genControlData();
    },
    methods: {
        genControlData() {
            return [
                {
                    name: 'name',
                    title: 'Tên Page',
                    type: 'text',
                },
                {
                    name: 'description',
                    title: 'Nội dung',
                    type: 'editor'
                },
                {
                    name: 'status',
                    title: 'Tình Trạng',
                    type: 'status',
                    default: true
                }
            ];
        }
    },
    mounted() {
        
    }
}
</script>
