<template>
  <form method="POST" action="" accept-charset="UTF-8" role="form" class="form-horizontal no-border" @submit.prevent='onSubmit' @keydown='form.errors.clear($event.target.name)'>
      <div class="form-group">
        <div class="col-md-12">
          <div class="float-label-control" v-bind:class="{ 'has-error': form.errors.has('firstName') }">
            <div class="input-group">
                <input id="firstName" type="text" class="form-control" name="firstName" autofocus placeholder="Full Name" v-model="form.firstName">
                <label for="firstName"><span v-if="!form.errors.has('firstName')">Full Name</span><span class="text-danger" v-if="form.errors.has('firstName')" v-text="form.errors.get('firstName')"></span></label>
              </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 float-label-control" v-bind:class="{ 'has-error': form.errors.has('email') }">
          <div class="input-group">
            <!--  v-text="shared.user.name" -->
            <input id="email" type="email" class="form-control" name="email"  autofocus placeholder="Email" v-model="form.email">
            <label for="email"><span v-if="!form.errors.has('email')">Email</span><span class="text-danger" v-if="form.errors.has('email')" v-text="form.errors.get('email')"></span></label>
          </div>
        </div>
      </div>
      <div class="form-group">
          <div class="col-md-12 float-label-control" v-bind:class="{ 'has-error': form.errors.has('password') }">
            <div class="input-group">
              <password v-model="form.password" :placeholder="'Password'" class="form-control pass-strength" :badge="false"></password>
              <label for="password"><span v-if="!form.errors.has('password')">Password</span><span class="text-danger" v-if="form.errors.has('password')" v-text="form.errors.get('password')"></span></label>
              <span class="input-group-addon pw-show"><i class="fa fa-eye" aria-hidden="true"></i></span>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>By clicking "Sign Up" I agree to our <a href="#" @click="showCustomModal = true">Terms of Service</a></p>
        </div>
      </div>
      <div class="form-group">
          <div class="col-xs-10 col-xs-offset-1">
              <button type="submit" class="btn btn-primary btn-block text-uppercase btn-brands loading-button" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." autocomplete="off">
                Sign up
              </button>
          </div>
      </div>
      <modal :show.sync="showCustomModal" effect="fade">
        <div slot="modal-header" class="modal-header">
          <h4 class="modal-title">
            <b>Terms of Service</b>
          </h4>
        </div>
        <div slot="modal-body" class="modal-body">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div slot="modal-footer" class="modal-footer">
          <button type="button" class="btn btn-primary btn-brands" @click="showCustomModal = false">Accept</button>
        </div>
      </modal>
  </form>
</template>

<script>
    import Password from 'vue-password-strength-meter'
    export default {
        components: { Password },
        props: [

        ],
        data(){
            return {
                showCustomModal: false,
                form: new Form_({
                    firstName: '',
                    lastName: '',
                    password: '',
                    email: '',
                    user_type: 1
                }),
                shared: usersShared
            }
        },
        methods: {
            onSubmit(e){
              e.preventDefault();
                // console.log(this.form);
              this.form.post('/register')
                  .then(data => {
                      // console.log(data);
                      // this.shared.users.push(data);
                  } )
                  .catch(errors => {
                      // console.log(errors)
                  });
            },

        },
        mounted() {

        },
        created() {
        }
    }
</script>
