<!--<template>-->
  <!--<form class="no-border" role="form" method="POST" @submit.prevent='onSubmit' @keydown='form.errors.clear($event.target.name)'>-->
    <!--<input type="hidden" name="token" v-model="form.token">-->

    <!--<div class="form-group float-label-control" v-bind:class="{ 'has-error': form.errors.has('email') }">-->
      <!--<div class="col-md-12">-->
        <!--<div class="input-group">-->
          <!--<input id="email" type="email" class="form-control" name="email"  autofocus  placeholder="Email" v-model="form.email">-->
          <!--<label for="email"><span v-if="!form.errors.has('email')">Email</span><span class="text-danger" v-if="form.errors.has('email')" v-text="form.errors.get('email')"></span></label>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group float-label-control" v-bind:class="{ 'has-error': form.errors.has('password') }">-->
      <!--<div class="col-md-12">-->
        <!--<div class="input-group">-->
          <!--&lt;!&ndash; <input id="password" type="password" rel="password" class="form-control pass-strength" name="password"  placeholder="Password" v-model="form.password"> &ndash;&gt;-->
          <!--<password v-model="form.password" :placeholder="'Password'" class="form-control pass-strength" :badge="false"></password>-->
          <!--<label for="password"><span v-if="!form.errors.has('password')">Password</span><span class="text-danger" v-if="form.errors.has('password')" v-text="form.errors.get('password')"></span></label>-->
          <!--<span class="input-group-addon pw-show"><i class="fa fa-eye" aria-hidden="true"></i></span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group float-label-control" v-bind:class="{ 'has-error': form.errors.has('password') }">-->
      <!--<div class="col-md-12">-->
        <!--<div class="input-group">-->
          <!--<input id="confirm" type="password" rel="password" class="form-control" @blur="comparePass" name="confirm" placeholder="Confirm Password" v-model="form.password_confirmation">-->
          <!--&lt;!&ndash; <label for="confirm"><span v-if="!form.errors.has('password')">Confirm</span><span class="text-danger" v-if="form.errors.has('confirm')" v-text="form.errors.get('confirm')"></span></label> &ndash;&gt;-->
          <!--<label for="confirm"><span v-show=" error_confirm === false ">Confirm</span><span class="text-danger" v-show=" error_confirm === true " v-text="'The passwords you entered do not match.'"></span></label>-->
          <!--<span class="input-group-addon pw-show"><i class="fa fa-eye" aria-hidden="true"></i></span>-->
          <!--&lt;!&ndash; <password v-model="form.password_confirmation" :placeholder="'Password'" class="form-control pass-strength" :badge="false"></password>-->
          <!--<label for="confirm"><span v-if="!form.errors.has('password')">Password</span><span class="text-danger" v-if="form.errors.has('confirm')" v-text="form.errors.get('confirm')"></span></label>-->
          <!--<span class="input-group-addon pw-show"><i class="fa fa-eye" aria-hidden="true"></i></span> &ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="form-group">-->
      <!--<div class="col-xs-10 col-xs-offset-1">-->
        <!--<button type="submit" class="btn btn-primary btn-block text-uppercase btn-brands">-->
          <!--Submit-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</template>-->

<!--<script>-->
    <!--import Password from 'vue-password-strength-meter'-->
    <!--export default {-->
        <!--components: { Password },-->
        <!--props: [-->
          <!--'token',-->
          <!--'email'-->
        <!--],-->
        <!--data(){-->
            <!--return {-->
                <!--form: new Form_({-->
                    <!--email: this.email,-->
                    <!--password: '',-->
                    <!--password_confirmation: '',-->
                    <!--token: this.token-->
                <!--}),-->
                <!--error_confirm: false,-->
            <!--}-->
        <!--},-->
        <!--methods: {-->
            <!--comparePass(){-->
              <!--if(this.form.password !== this.form.password_confirmation){-->
                <!--this.error_confirm = !this.error_confirm;-->
              <!--}-->
            <!--},-->
            <!--onSubmit(){-->
                <!--this.form.post('/password/reset')-->
                    <!--.then(data => {-->
                        <!--console.log(data);-->
                        <!--// this.shared.users.push(data);-->
                    <!--} )-->
                    <!--.catch(errors => {-->
                      <!--console.log(errors)-->
                    <!--});-->
            <!--},-->

        <!--},-->
        <!--mounted() {-->
          <!--var self = this;-->
          <!--// this.$emit('input', value)-->
        <!--},-->
        <!--created() {-->
        <!--}-->
    <!--}-->
<!--</script>-->
