<template>
    <div class="admin-categories">
        <admin-breadcum :header="headerInfo"></admin-breadcum>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ headerInfo.subtitle | capitalize }}</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <form method="POST" action="" accept-charset="UTF-8" role="form" style="display:flow-root" class="form-horizontal no-border" @submit.prevent='onSubmit'>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Cấu hình thẻ Meta
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <textarea type="text" class="form-control" rows="10" v-model="form.meta"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Cấu hình link mạng xã hội
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="float-label-control">
                                                    <div class="input-group">
                                                        <input id="name" type="text" class="form-control" name="name" autofocus placeholder="Link Facebook" v-model="form.linkFacebook">
                                                        <label for="name"><span>Link Facebook</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="float-label-control">
                                                    <div class="input-group">
                                                        <input id="name" type="text" class="form-control" name="name" autofocus placeholder="Link Tweeter" v-model="form.linkTweeter">
                                                        <label for="name"><span>Link Tweeter</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="float-label-control">
                                                    <div class="input-group">
                                                        <input id="name" type="text" class="form-control" name="name" autofocus placeholder="Link Google+" v-model="form.linkGoogle">
                                                        <label for="name"><span>Link Google+</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Cấu hình Google Analytics và nhận diện trang
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">                                        
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <textarea type="text" class="form-control" rows="10" v-model="form.GA"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12" style="margin-top:10px;">
                                <div class="form-group">
                                    <div class="col-xs-12 col-xs-offset-11">
                                        <button type="submit" class="btn btn-primary btn-brands">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: [],

    data() {
        return {
            headerInfo: {
                title: 'Cấu hình',
                subtitle: 'Cấu hình Website',
                breadcrumb: ['setting']
            },
            form: new Form_({
                meta: '',
                linkFacebook: '',
                linkTweeter: '',
                linkGoogle:'',
                GA: ''
            }) 
        }
    },

    created() {
        $('.float-label-control').floatLabels();
        this.$parent.headerInfo = this.headerInfo;
        this.getList();
    },
    methods: {
        getList(){
            var vm = this;
            this.form.get('/asim/a-setting')
                .then(data => {
                    if(data){
                        data.forEach(function(item){
                            vm.form[item.path] = item.value;
                        });
                    }
                } )
                .catch(errors => {
                // console.log(errors)
                });
        },
        onSubmit(){
            this.form.post('/asim/a-setting')
                    .then(data => {
                        if(data){
                            this.$toaster['success']("Lưu cài đặt thành công!");
                        }
                    } )
                    .catch(errors => {
                        // console.log(errors)
                    });
        }
    },
    mounted() {
        $('.float-label-control').floatLabels();
    },
    updated(){
        $('.float-label-control').floatLabels();
    }
}
</script>