<template>
    <div class="admin-categories">
        <admin-breadcum :header="headerInfo"></admin-breadcum>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{ headerInfo.subtitle | capitalize }}</h5>
                    </div>
                    <div class="ibox-content">
                        <custom-table :link="dataResourceLink" :col="col" :largeForm="true" :controlData="controlData" :showID="showID" :title="headerInfo.title"></custom-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: [],

    data() {
        return {
            headerInfo: {
                title: 'người dùng',
                subtitle: 'Danh sách người dùng',
                breadcrumb: ['người dùng']
            },
            dataResourceLink: '/asim/a-user',
            controlData: [],
            showID: false,
            col:2
        }
    },

    created() {
        this.$parent.headerInfo = this.headerInfo;
        this.controlData = this.genControlData();
    },
    methods: {
        genControlData() {
            return [
                {
                    name: 'firstname',
                    title: 'Tên Người Dùng',
                    type: 'text'
                },
                {
                    name: 'email',
                    title: 'Email',
                    type: 'text',
                },
                {
                    name: 'password',
                    title: 'Password',
                    type: 'password',
                },
                {
                    name: 'user_type',
                    title: 'Loại Người dùng',
                    type: 'select2',
                    resourceLink: '/asim/a-user/listType',
                    tag: 'false'
                },
                {
                    name: 'status',
                    title: 'Tình Trạng',
                    type: 'status',
                    default:true
                }
            ];
        }
    },
    mounted() {
        
    }
}
</script>